@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

/* Light Mode */
:root {
  /* colours */
  --color-background: #fdfaf3;
  --color-surface: #faeeda;
  --color-primary: #ba7517;
  --color-accent: #fac775;
  --color-hover: #854f0b;
  --color-text: #412402;

  /* fonts */
  --font-heading: var(--font-coiny);
  --font-subheading: var(--font-dangrek);
  --font-body: var(--font-nunito);
} 

h1 {
  font-family: var(--font-heading);
}

h2, h3 {
  font-family: var(--font-subheading);
}

body{
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-body);
}

/* 
@theme {
  /* colours */
  /* --color-background: #fdfaf3;
  --color-surface: #faeeda;
  --color-primary: #ba7517;
  --color-accent: #fac775;
  --color-hover: #854f0b;
  --color-text: #412402; */
/* }  */

/* Dark mode*/
.dark {
  /* colours */
  --color-background: #0e0b1a;
  --color-surface: #26215c;
  --color-primary: #534ab7;
  --color-accent: #afa9ec;
  --color-hover: #cecbf6;
  --color-text: #eeedfe;

  /* fonts */
  --font-heading: var(--font-audiowide);
  --font-subheading: var(--font-anta);
  --font-body: var(--font-changa);
}

.dark h1 {
  font-family: var(--font-heading);
}

.dark h2, h3 {
  font-family: var(--font-subheading);
}

.dark body{
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-body);
}